* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: white;
  color: #000;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
}


header, header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  gap: 1.2rem;
}

header div span {
  color: #000;
  font-size: 2.2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 3rem; 
  letter-spacing: -1.32px;
}

i {
  color: #000;

}

.hero {
  margin-top: 6rem;
}

.hero-container {
  padding: 3rem 2.4rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
  border-radius: 2rem;
  
  background: linear-gradient(111deg, #B096FB 0%, #ABECD6 100%);
  box-shadow: 0px 4px 6px -2px rgba(172, 237, 215, 0.20), 0px 10px 15px -3px rgba(172, 237, 215, 0.10);
}

.image-hero-container {
  padding: 2.2rem 1.7rem;
  border-radius: 9999px;
  background: #EFFFFA;
  box-shadow: 0px 13.753177642822266px 27.50635528564453px -6.60152530670166px rgba(182, 237, 207, 0.40);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  margin-top: 2.5rem;
}

.hero-content h2 {
  color: #111827;
  font-family: 'Nunito', sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3rem;
}

.hero-content p {
  color: #111827;
  text-align: center;
 
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.8rem;

  min-width: 27.9rem;
}

.hero-content p span {
  color: #FFF278;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 4.2rem;
}

.buttons button {
  border-radius: 3.2rem;
  border: none;
  background:  #111827;
  padding: .8rem 3.6rem;

  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}

.buttons a {
  text-decoration: none;
  color: #111827;
  font-size: 1.4rem;
  font-weight: 500;
}

.hero, .projects, .about, .contact {
  width: 100%;
  height: 100vh;
}

